* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    font-size: 16px;
    --pixel-size: 1rem;
}

.canvas {
    display: inline-grid;
    grid-gap: 1px;
    box-shadow: 0 0 0 10px #eef;
    border: 2px solid #999;
    background-color: #eee;

    &[data-pixel-size=L] {
        --pixel-size: 1rem;
    }

    &[data-pixel-size=M] {
        --pixel-size: .5rem;
    }

    &[data-pixel-size=S] {
        --pixel-size: .25rem;
        grid-gap: 0;
    }

    .pixel {
        background-color: white;
        height: var(--pixel-size);
        width: var(--pixel-size);
        // transition: all .15s ease;

        &:hover {
            box-shadow: 0 0 0 1px #999;
        }

        &[data-blank=true] {
            background-color: #eef;
        }
    }
}

.colors {
    display: flex;
    margin-bottom: 1rem;

    > * + * { margin-left: .25rem; }

    .color {
        z-index: 10;
        box-shadow: 0 0 0 1px #999;
        border-radius: 2px;
        height: 1rem;
        width: 1.5rem;
        transition: all .3s ease;
        cursor: pointer;
        user-select: none;

        &:hover {
            transform: scale(1.5);
        }

        &[data-selected=true] {
            z-index: 20;
            box-shadow: 0 0 1px 2px #333;
            transform: scale(1.5);
        }
    }
}

.actions {
    margin-left: 2rem;
}

.download {
    > * + * {
        margin-top: 1rem;
    }

    input {
        padding: .25rem .5rem;
    }

    button {
        padding: .5rem 1rem;
        cursor: pointer;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .origin {
        display: flex;
        align-items: center;

        > * + * {
            margin-left: .5rem;
        }
    }
}
